/* Global Reset */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #121212;
  color: #fff;
}

/* Global Layout for Header + Content + Footer */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: #1f1f1f; /* dunkles Grau */
  color: #fff;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Logo + Titel */
.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
}

.title {
  font-size: 1.4rem;
  margin: 0;
}

/* NAVIGATION */
.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.nav a:hover {
  color: #aaa;
}

/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}

.container {
  max-width: 1100px;
  margin: auto;
}

